{% macro displayCategory(category_list) %}
<div class="row">
    {% for category in category_list %}
        <div class="col-md-6">
            <div class="card" style="background-color: palegoldenrod;">
                <div>
                    <h5>{{category.title}}</h6>
                    <p>{{category.description}}</p>
                </div>
                <div>
                    <small>Posted By {{category.user.username}}</small>
                </div>
                <div><a href="{{url_for('main.comment',pitch_id=category.id)}}">Add a Comment</a></div>
    
            </div>

        </div>     
        
    {% endfor %}
</div>
{% endmacro %}
