<nav class="navbar fixed-top navbar-dark bg-dark" style="background-color: #152238; margin:0px;">
    <a href="/" class="navbar-brand" style="color:white;">My Pitch App</a>
    <ul class="navbar-brand" style="display: flex;">
        <li><a href="/pitch/categories" style="color:white; list-style-type: none; margin-left: 40px;">Categories</a></li>
        <li><a href="/pitch/new" style="color: white; list-style-type: none; margin-left: 40px;">New Pitch Entry</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
        <li><a href="{{url_for('main.profile',uname=current_user.username)}}" style="color:white; padding:15px;">Profile</a></li>
        <!-- <li style="color:white; padding:15px;">{{current_user.username}}</li> -->
        <li><a href="{{url_for('auth.logout')}}" style="color:white;">Sign Out</a></li>
        {% else %}
        <li><a href="{{url_for('auth.login')}}" style="color:white;">Sign In</a></li>
        {% endif %}
    </ul>
</nav>