{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
<div class="container">
    <div class="row">
        <h3 style="text-align: center; align-items: center; justify-content: center;">Create a new pitch</h3>
        <div class="col-md-6" style="align-items: center; justify-content: center; text-align: center; display: flex; flex-direction: column; height:100vh; background-image: url(../static/Images/land-image.jpg); background-size: cover; background-position: center;">
        </div>
        <div class="col-md-6">
            {{wtf.quick_form(pitchform)}}

        </div>
    </div>
</div>

{% endblock %}