{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <h3 style="text-align: center; align-items: center; justify-content: center;"><strong>Create a new pitch</strong></h3>
        <div class="col-md-6" style="align-items: center; text-align: center; justify-content: center; display: flex; flex-direction: column; height: 80%; background-size: cover; background-image: url(/static/Images/land-image.jpg); background-position: center;">
        </div>
        <div class="col-md-6">
            {{wtf.quick_form(pitchform)}}

        </div>
    </div>
</div>

{% endblock %}